{
  "syntax": "less",
  "rules": {
    "color-hex-case": "lower",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-calc-no-unspaced-operator": true,
    "function-comma-newline-after": "never-multi-line",
    "function-comma-space-after": "always",
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-name-case": "lower",
    "number-leading-zero": "always",
    "string-quotes": "single",
    "length-zero-no-unit": true,
    "unit-case": "lower",
    "unit-no-unknown": true,
    "value-keyword-case": "lower",
    "value-list-comma-newline-after": "never-multi-line",
    "value-list-comma-space-after": "always",
    "shorthand-property-no-redundant-values": true,
    "property-case": "lower",
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never"
  }
}