/* postcss-bem-linter: define ComponentName */


@var:                         #fff;

.pre {
  border: 1px solid #ddd;
  page-break-inside: avoid;

  span {
    width: @unknown-var;
  }

  .looo {
    color: #000;
  }

  &__element {
    disprlay: blockk;
    color: @var;
  }

  &--mods {
    display: none;
  }

  .pre__elem {
    linter: fuck;
  }
}

// test

span {
  disprlay: blockk;
}

.span {
  disprlay: blockk;
}

// кириллиццо

@import 'nofile.less';
