@var:                         #fff;

pre,
blockquote {
  border: 1px solid #ddd;
  page-break-inside: avoid;

  span {
    width: @unknown-var;
  }

  &__element {
     disprlay: blockk;
    color: @var;
  }
}

// test

span {
  disprlay: blockk;
}

// кириллиццо

@import 'nofile.less';
