/** @define pre-pre */


@var:                         #fff;
@var2:                        #000;

.pre-pre {
  border: 1px solid #ddd;
   page-break-inside: avoid;
  z-index: 89;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: @field-padding-top @field-padding-horizontal @field-padding-bottom;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: @line-height;
  text-decoration: none;
  text-transform: none;
  border-radius: @border-radius;
  min-height: 2.125em;
  border: 1px solid @gray-light;
  color: @text-color;
  background-color: @gray-lighter;
  background-image: none;

  .js & {
    display: block;
  }

  span {
    width: @unknown-var;
  }

  .looo {
    color: #000;
    background-color: #ff0;
  }

  &__element {
    disprlay: blockk;
    color: @var;
    font-size: 24px;

    .js & {
      display: block;
    }
  }

  &--mods {
    display: none;
  }

  .pre__elem {
    linter: fuck;
  }
}

// test

span {
  disprlay: blockk;
}

.span {
  disprlay: blockk;
}

// кириллиццо

@import 'nofile.less';
